@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lora', serif;
} 

body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
section{
  display:grid;
  min-height: 100vh;
  position: relative;
  z-index: -1;
  padding-top:60px;

}
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #070b22;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
    
  }
}
@media (max-width: 1000px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
/* Page content */
.content {
  padding: 16px;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
/* Homepage */
.sectionMain{
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to top,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 60%,
    rgb(163, 162, 162) 60%,
    rgb(163, 162, 162) 100%
  );
}
.image{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid rgb(255, 255, 255);
  margin-top: 15%;
  overflow: hidden;
}
.image img{
  width: 100%; height: auto;
}
@media all and (min-width: 1400px) {
  .image{
    position: relative; width: 200px; height: 200px; overflow: hidden; border-radius: 50%;
    margin-top: 10%;
  }
  .image img{
    width: 100%; height: auto;
  }

  
}
@media all and (max-width: 1000px) {
  .sectionMain{
      width: 100%;
      height: 100vh;
      background: linear-gradient(
        to top,
        rgb(255, 255, 255) 0%,
        rgb(255, 255, 255) 70%,
        rgb(163, 162, 162) 70%,
        rgb(163, 162, 162) 100%
      )
  }
  .image{
    position: relative; width: 200px; height: 200px; overflow: hidden; border-radius: 50%;
  }
  .image img{
    width: 100%; height: auto;
  }
}
.name{
  text-align: center;
  font-size: 100px;
}
.description{
  margin-left:200px;
  margin-right: 200px;
  font-size: 30px;
  font-family: 'Inter Tight', sans-serif;
  text-align: center;
}
@media all and (max-width: 1000px) {
  .name{
    font-size: 50px;
    padding-top:10%
  }
  .description{
    margin-left:40px;
    margin-right: 30px;
    font-size:22px;
  }
}
.btn{
  background-color: #070b22;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  line-height: 80px;
  width: 380px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.btn:hover,
.btn:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.btn:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.btn:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}
.contactme{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:30px;
}
@media all and (max-width:1000px) {
  .btn{
    width:200px;
    font-size:20px;
  }
}
.laptopPicture{
  object-fit: cover;
  width: 230px;
  height: 230px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10 rem;
  border: 1px solid
}
.sectionAbout{
  width: 100%;
  height: 100vh;  
}
.amTitle{
  font-size: 20px;
  text-align: center;
  margin-top: -10vh;
}
.aboutMe{
  padding: 20px;
  text-align: center;
  font-size: 20px;
  margin-top: -20vh;
}
@media all and (min-width:760px) {
  .amTitle{
    margin-top:-7%;
    font-size: 30px;
  }
  .aboutMe{
    margin-top: -10%;
    font-size: 25px;
  }
  .laptopPicture{
    margin-top: 10%;
  }
}
.skillsTab{
  min-height:32vh;
  background-color: #070b22;
}
.skills{
  font-size: 40px;
  text-align: center;
  color:white;
  display:grid;

}
.icons{
  width:10%;
  height:auto;
 margin:5%;
 align-items: center;
}
.htmlicon{
  margin-left:13%;

}
.resumeBtn{
  background-color: #a4a5ad;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  line-height: 10px;
  width: 380px;
  margin-top: 2vh;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.resumeBtn:hover,
.resumeBtn:focus { 
  background-color: #16437E;
  color: #ffffff;
}


.clickhere{
  text-align: center;
  color:#fff;
  font-size: 20px;
}
@media all and (min-width: 1000px) {
  .resumeBtn{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 30px;
  }
  .skillsTab{
    min-height:63vh;
  }
  .clickhere{
    font-size: 40px
  }
}
/* Project Slideshow */
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.projectsTitles{
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
}
/* footer */
footer{
  min-height: 40vh;
  background-color: #070b22
}
.footer-distributed{
	background: #070b22;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 60px 40px;
	overflow: hidden;
}

/* Footer left */

.footer-distributed .footer-left{
	float: left;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Roboto', cursive;
	margin: 0 0 10px;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
	float: right;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

/* The contact form */

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #ffffff;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #000000;

	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #5c666b;
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 3px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

	.footer-distributed {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-company-name{
		font-size: 12px;
	}

	.footer-distributed form input,
	.footer-distributed form textarea{
		width: 250px;
	}

	.footer-distributed form button{
		padding: 10px 35px;
	}

}

@media (max-width: 1000px) {

	.footer-distributed{
		padding: 30px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer-distributed .footer-left{
		margin-bottom: 40px;
	}

	.footer-distributed form{
		margin-top: 30px;
	}

	.footer-distributed form{
		display: block;
	}

	.footer-distributed form button{
		float: none;
	}
}

